// Common colors variable
$black: #000;
$white: #fff;
$linkColor: #61dafb;
$backgroundColor: #282c34;
$selectionColor: #0a91b2;

// Home page variables
$bannerTextSize: 7.2rem;
$textPadding: 1rem;
$textBorderRadius: 2.5rem;
$lightColor: #0a91b2;
$textPaddingAuthor: 1rem 0 1rem 0;